.textInput {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.submitButton {
  margin-top: 10px;
  margin-bottom: 10px;
}

.alreadyHaveAccMessage {
  text-align: center;
  font-weight: bold;
}

.link {
  color: Teal;

  &:hover {
    color: DarkCyan;
  }
}
